.contact {
    margin: 0 var(--margin);
}

.contact-header {
    margin-top: 0;
}

.contact-email {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;


    text-align: left;

    margin-top: var(--margin);
}

.contact-email h3{
    font-size: var(--title-font-size);
    font-weight: normal;
    text-decoration: underline;
    color: var(--primary-color);

    cursor: pointer;
}

.contact-email h3:hover {
    color: var(--highlight-color);
    transition: 0.5s;
}

.contact-back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: auto;
    margin-bottom: 0;
    
    width: 1.3em;
    height: 1.3em;
    border-radius: 100%;

    grid-column-start: 11;
    grid-column-end: 13;
    grid-row-start: 2;

    background-color: var(--secondary-color);
    font-size: 4em;
    font-weight: bold;

    cursor: pointer;

    transition: 0.5s;
}

.contact-back-to-top:hover {
    transition: 0.5s;
    background-color: var(--highlight-color);
}

.hide-mobile {
    display: flex;
}

.show-mobile {
    display: none;
}

@media screen and (max-width: 1024px) {
    .hide-mobile {
        display: none;
    }

    .show-mobile {
        display: flex;
    }

    .contact-email {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
    }
    
    .contact-email a{
        font-size: var(--title-font-size);
        font-weight: normal;
        text-decoration: underline;
        color: var(--primary-color);
    
        cursor: pointer;
    }
    
    .contact-email a:hover {
        color: var(--highlight-color);
        transition: 0.5s;
    }
}