.hero {
    margin: 6rem var(--margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-row .mask {
    display: flex;
    flex-direction: row;
    
    position: relative;
    width: max-content;
}

.hero-row * {
    line-height: 90%;
    font-size: var(--title-font-size);
}

.hero-row .mask h1 {
    position: relative;
    top: var(--title-font-size);
    text-transform: uppercase;
    text-align: center;

    -webkit-text-stroke: 1px var(--primary-color);
    color: var(--bg-color);
}

.hero-title-fill {
    color: var(--bg-color);
}

@keyframes textFill {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.hero-title-fill::before {
    position: absolute;
    content: attr(data-text);
    color: var(--primary-color);
    overflow: hidden;
    width: 0%;
    transition: 1s;
    animation: textFill 2s forwards cubic-bezier(0.6, 0.0, 0.4, 1);
    animation-delay: 8s;
}


.hide-mobile {
    display: flex;
}

.show-mobile {
    display: none;
}

@media screen and (max-width: 1024px) {
    .hide-mobile {
        display: none;
    }

    .show-mobile {
        display: flex;
    }
}
