@font-face {
  font-family: 'PP Neue Montreal';
  src: url('./assets/fonts/PPNeueMontreal-Book.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('./assets/fonts/PPNeueMontreal-Medium.otf');
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('./assets/fonts/PPNeueMontreal-Bold.otf');
  font-weight: 700;
  font-style: bold;
}

:root {
  /* Light mode */
  /* --primary-color: #131313;
  --bg-color: #EAE7E2;
  --secondary-color: #C6BEAF;
  --highlight-color: #C58F53; */

  /* Dark mode */
  --primary-color: #EAE7E2;
  --bg-color: #131313;
  --secondary-color: #C6BEAF;
  --highlight-color: #C58F53;

  --font-size: 1rem;
  --large-font-size: clamp(2.5rem, 5vw, 4rem); 
  /* --title-font-size: 7rem; */
  --title-font-size: clamp(5rem, 9vw, 8rem); 

  --margin: clamp(1rem, 5vw, 6rem);
  --section-margin: clamp(5rem, 30vh, 15rem);
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  margin-top: 0;

  font-size: var(--font-size);

  width: 100%;

  justify-items: start;
  text-align: left;
}

body {
  margin: 0;
  padding: 0;

  color: var(--primary-color);
  background-color: var(--bg-color);
  border: none;
  
  font-family: "PP Neue Montreal", "Inter", Arial, Helvetica, sans-serif;
}

.section-header-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: var(--font-size);
    /* margin-bottom: var(--margin); */
}

.section-header-1 h2 {
  font-size: var(--font-size);
}

.section-header-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    font-size: var(--font-size);
}

.section-header-2 h2 {
    font-size: var(--font-size);
}

.reveal-wrapper {
  position: relative;
  width: max-content;

  /* border: 1px solid red; */
}

.reveal-text {
  opacity: 1;
  position: relative;
  top: 100%;
}

.reveal-mask {
  overflow: hidden;
}

.mask {
  overflow: hidden;
}


@media screen and (max-width: 1024px) {
  html {
      font-size: 20px;
  }
  
  :root {
    --font-size: clamp(16px, 3vw, 24px);
    --large-font-size: clamp(2rem, 5vw, 4rem); 
    --title-font-size: clamp(2.5rem, 14vw, 7rem); 
  
    --margin: clamp(1rem, 5vw, 6rem);
    --section-margin: clamp(5rem, 30vw, 20rem);
  }

  .grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .section-header-2 {
    grid-column-start: 2;
    grid-column-end: 5;
  }
}